*{ 
margin:0; 
padding:0; 
} 
body{ 
} 
h2,p{ 
font-size:100%; 
font-weight:normal; 
} 
ul,li{ 
list-style:none; 
} 
ul{ 
overflow:hidden; 
padding:3em; 
} 
ul li a{ 
text-decoration:none; 
color:#000; 
background:#ffc; 
display:block; 
height:10em; 
width:10em; 
padding:1em;  
} 
ul li{ 
margin:1em; 
float:left; 
} 
ul li h2 
{ 
font-size: 160%; 
font-weight: bold; 
padding-bottom: 10px; 
} 
ul li p 
{ 
font-family: "Reenie Beanie" ,arial,sans-serif,微软雅黑; 
font-size: 130%; 
} 
ul li a{ 
-webkit-transform:rotate(-6deg); 
-o-transform:rotate(-6deg); 
-moz-transform:rotate(-6deg); 
-moz-transition:-moz-transform .15s linear; 
-o-transition:-o-transform .15s linear; 
-webkit-transition:-webkit-transform .15s linear; 
text-decoration: none; 
color: #000; 
background: #ffc; 
display: block; 
height: 15em; 
width: 15em; 
padding: 1em; /* Firefox */ 
-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1); /* Safari+Chrome */ 
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7); /* Opera */ 
box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
} 
ul li:nth-child(even) a{ 
-o-transform:rotate(4deg); 
-webkit-transform:rotate(4deg); 
-moz-transform:rotate(4deg); 
position:relative; 
top:5px; 
-o-transform:rotate(4deg); 
-webkit-transform:rotate(4deg); 
-moz-transform:rotate(4deg); 
position:relative; 
top:5px; 
background:#cfc; 
} 
ul li:nth-child(3n) a{ 
-o-transform:rotate(-3deg); 
-webkit-transform:rotate(-3deg); 
-moz-transform:rotate(-3deg); 
position:relative; 
top:-5px; 
-o-transform:rotate(-3deg); 
-webkit-transform:rotate(-3deg); 
-moz-transform:rotate(-3deg); 
position:relative; 
top:-5px; 
background:#ccf; 
} 
ul li:nth-child(5n) a{ 
-o-transform:rotate(5deg); 
-webkit-transform:rotate(5deg); 
-moz-transform:rotate(5deg); 
position:relative; 
top:-10px; 
} 
ul li a:hover,ul li a:focus{ 
-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7); 
-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7); 
box-shadow:10px 10px 7px rgba(0,0,0,.7); 
-webkit-transform: scale(1.25); 
-moz-transform: scale(1.25); 
-o-transform: scale(1.25); 
position:relative; 
z-index:5; 
} 
